<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration
       http://www.springframework.org/schema/integration/spring-integration.xsd">

    <int:transformer input-channel="processChannel"
                     output-channel="outboundChannel" ref="transformationHandler" method="handleJdbc"/>

    <bean id="transformationHandler"
          class="au.com.redboxresearchdata.harvester.json.transformer.JsonTransformationHandler">
        <property name="config" value="#{placeholderProperties.config}"/>
    </bean>

</beans>
