<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:script="http://www.springframework.org/schema/integration/scripting"
       xmlns:int-groovy="http://www.springframework.org/schema/integration/groovy"
       xmlns:int-jms="http://www.springframework.org/schema/integration/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/integration
      http://www.springframework.org/schema/integration/spring-integration.xsd
      http://www.springframework.org/schema/integration/scripting 
      http://www.springframework.org/schema/integration/scripting/spring-integration-scripting.xsd 
      http://www.springframework.org/schema/integration/groovy                      
      http://www.springframework.org/schema/integration/groovy/spring-integration-groovy.xsd 
      http://www.springframework.org/schema/integration/jms
      http://www.springframework.org/schema/integration/jms/spring-integration-jms.xsd
      ">

   <int-jms:outbound-channel-adapter id="outboundChannel" destination="outboundDestination"/>

    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="connectionFactory">
        <property name="brokerURL" value="${harvest.activemq.url}"/>
    </bean>
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="outboundDestination">
        <constructor-arg value="jsonHarvester"/>
    </bean>

</beans>
